APSIM.PerformanceTests.Collector/bin/
APSIM.PerformanceTests.Service/APSIM.PerformanceTests.Service/obj/Release/TransformWebConfig/original/Web.config
APSIM.PerformanceTests.Service/APSIM.PerformanceTests.Service/bin
APSIM.PerformanceTests.Service/APSIM.PerformanceTests.Service/obj/
APSIM.PerformanceTests.Service/packages/
APSIM.PerformanceTests.Collector/packages/
APSIM.PerformanceTests.Collector/obj/
