@model APSIM.PerformanceTests.Portal.ModelViews.TestsIndex

@if (Model.POTests != null && Model.POTests.Count() > 0)
{
    <div id="grid2">
        @{
            var gridPOT = new WebGrid(Model.POTests, canPage: false);
        }
        <div id="gridContent2">
            @gridPOT.GetHtml(htmlAttributes: new { id = "gridPOT" },
                    tableStyle: "webGrid2",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: gridPOT.Columns(
                        gridPOT.Column("Variable", header: "Variable", style: "colwidth-med"),
                        gridPOT.Column("Test", header: "Test", style: "colwidth-med"),
                        gridPOT.Column("Accepted", header: "Accepted", style: "colwidth-med"),
                        gridPOT.Column("Current", header: "Current", style: "colwidth-med"),
                        gridPOT.Column("Difference", header: "Difference", style: "colwidth-med"),
                        gridPOT.Column("PassedTest", header: "Passed Test", style: "colwidth-med")
            )
        )
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">
            $('#gridPOT tbody tr').each(function (index) { //iterate over all table rows
                $(this).removeClass('select');
                if ($(this).children('td:nth-child(6)').text() == "True")  //look for the 3rd td in each row. thats where your age is.
                {
                    $(this).addClass('testSuccess');
                }
                else 
                {
                    $(this).addClass('testFail');
                }
            });
        </script>

    </div>
}
