@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Model.ExceptionThrown.Message</strong>
    </p>
    <p>
        @Model.ExceptionThrown.ToString()
    </p>
}

