@model APSIM.PerformanceTests.Portal.ModelViews.ApsimIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div id="twoCols">
        @{
            var gridPR = new WebGrid(Model.PullRequests, rowsPerPage: 10, canPage: true, canSort: false);
        }

        <div id="gridContent">
            @gridPR.GetHtml(htmlAttributes: new { id = "gridPR" },
                    tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: gridPR.Columns(
                        gridPR.Column("PullRequestId", header: "Pull Request Id", style: "colwidth-med colbold",
                            format: (item) => item.GetSelectLink(item.strPullRequestId)),
                        gridPR.Column("RunDate", header: "Run Date", style: "colwidth-lg",
                            format: @<text>@item.RunDate.ToString("dd/MM/yyyy HH:mm  ")</text>),
                        gridPR.Column("IsReleased", header: "Is Released", style: "colwidth-med")
                    )
                )
        </div>
        <div id="dvShowSimFiles">
            @if (gridPR.HasSelection)
            {
                var PR = gridPR.SelectedRow.Value;
                <b>Pull Request:  @PR.PullRequestId </b>
                Html.RenderAction("ShowSimFiles", new { pullRequestId = @PR.PullRequestId });
            }
        </div>
    </div>

</body>
</html>
