@model APSIM.PerformanceTests.Portal.ModelViews.ApsimIndex


<div id="scrollable2">
    @if (Model.SimFiles != null && Model.SimFiles.Count() > 0)
    {
        <h2>Apsim Files</h2>

        <div id="grid2">
            @{
                var gridSF = new WebGrid(Model.SimFiles, canPage: false);
            }
            <div id="gridContent2">
                @gridSF.GetHtml(htmlAttributes: new { id = "gridSF" },
                    tableStyle: "webGrid2",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: gridSF.Columns(
                        gridSF.Column("PredictedObservedID", header: "PO ID", style: "colwidth-sm colbold",
                                format: (item) => Html.ActionLink((string)item.strPredictedObservedID, "Index", "Tests", new { predictedObservedId = item.PredictedObservedID }, null)),
                        gridSF.Column("FileName", header: "FileName", style: "colwidth-med"),
                        gridSF.Column("PredictedObservedTableName", header: "PO Tablename", style: "colwidth-med"),
                        gridSF.Column("PassedTests", header: "Passed Tests", style: "colwidth-sm"),
                        gridSF.Column("FullFileName", header: "Full FileName", style: "colwidth-xlg")
                    )
            )
            </div>

            @Scripts.Render("~/bundles/jquery")
            <script type="text/javascript">
                $('#gridSF tbody tr').each(function (index) { //iterate over all table rows
                    $(this).removeClass('select');
                    if ($(this).children('td:nth-child(4)').text() == "100")  //look for the 3rd td in each row. thats where your age is.
                    {
                        $(this).addClass('testSuccess');
                    }
                    else if ($(this).children('td:nth-child(4)').text() == "0") {
                        $(this).addClass('testFail');
                    }
                });
            </script>
        </div>
    }
</div>
